body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user-layout2 {
  background: linear-gradient(
      to right,
      rgba(135, 185, 201, 0.582),
      rgba(108, 118, 167, 0.356)
    ),
    url(./components/images/b3.jpg) no-repeat;
  background-position: top;
  background-size: cover;
}
.user-layout {
  background: linear-gradient(
      to right,
      rgba(135, 185, 201, 0.582),
      rgba(108, 118, 167, 0.356)
    ),
    url(./components/images/b1.jpg) no-repeat;
  background-position: top;
  background-size: cover;
}
.user-layout1 {
  background: linear-gradient(
      to right,
      rgba(135, 185, 201, 0.582),
      rgba(108, 118, 167, 0.356)
    ),
    url(./components/images/b4.jpg) no-repeat;
  background-position: top;
  background-size: cover;
}
